/* Styling untuk dashboard */
.dashboard-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
}

/* Styling untuk tabel */
.dashboard-table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  table-layout: auto; 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
}

/* Styling untuk header dan cell tabel */
.dashboard-table th,
.dashboard-table td {
  padding: 12px 15px;
  text-align: left;
  border: none;
}

.dashboard-table th {
  background-color: #e0f4e9;
  font-weight: bold;
}

/* Styling header */
.dashboard-header {
  color: #2d8f3b;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .dashboard-table {
    display: block;
    width: 100%;
    background: transparent;
    box-shadow: none;
  }

  .dashboard-table thead {
    display: none;
  }

  .mobile-dash {
    display: none !important;
  }

  .dashboard-table tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .dashboard-table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .dashboard-table tr td {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-size: 13px;
    padding: 1px;
  }

  .dashboard-header {
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .indicator {
    font-size: 10px;
    padding: 5px 10px;
    max-width: unset;
  }

  .action-button {
    padding: 6px 10px;
    font-size: 13px;
  }

  .location-button {
    font-size: 13px;
  }

  .space-between-tables {
    margin: 20px 0;
  }
}


.status {
  color: #00f2ff; 
  font-weight: bold;
}

/* Styling untuk tombol di kolom Action */
.action-button {
  background-color: #2d8f3b;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #246f2d;
}

.location-button {
  cursor: pointer;
}

.location-button:hover {
  color: #246f2d;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding:  10px 0;
}

/* Indicator styles */
.indicator {
  padding: 5px 20px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 100%; 
  max-width: 120px; 
  margin: 0 auto; 
}

.indicator.red {
  background-color: red;
}

.indicator.yellow {
  background-color: yellow;
}

.indicator.green {
  background-color: green;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 4px solid #c8e6c9;
  border-top: 4px solid #4caf50;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}